@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400&display=swap");
* {
  font-family: "Oxanium", sans-serif;
  padding: 0;
  margin: 0;
  padding: 7px 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin-top: -21px;
}

.logo img {
  margin-left: 8px;
  width: 25px;
  filter: invert(1);
}

.logo span {
  position: relative;
  bottom: 10px;
}

.container h1 {
  padding: 12px 0;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0 13px;
}

ul > li > a:hover {
  color: rgb(200, 200, 201);
}

.btn {
  background: black;
  color: white;
  padding: 9px 12px;
  border-color: gray;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 8px;
}

.btn:hover {
  background: rgb(98, 98, 98);
}

footer {
  background-color: black;
  color: white;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 83vh;
  padding: 5px;
}

.container {
  max-width: 80vw;
  margin: auto;
  padding: 15px;
  border-radius: 4px;
}

input[type="text"] {
  min-height: 4vh;
  min-width: 23vw;
  padding: 3px 12px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 15px;
  border-width: 3px;
}

#resultCont div::first-letter {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 12px;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
    height: auto;
  }

  nav {
    flex-direction: column;
  }

  .logo {
    padding: 6px 0;
  }

  .logo span {
    font-size: 20px;
  }
  .logo img {
    width: 15px;
    filter: invert(1);
  }
}
