@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400&display=swap");
* {
  font-family: "Oxanium", sans-serif;
  padding: 0;
  margin: 0;
  padding: 7px 0px;
}

body{
    background-color: #f7f7f7;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: -21px;
  }

  .logo img {
    margin-left: 8px;
    width: 25px;
    filter: invert(1);
  }
  
  .logo span {
    position: relative;
    bottom: 10px;
  }

  ul li a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    display: flex;
  }
  
  ul li {
    list-style: none;
    padding: 0 13px;
  }
  
  ul > li > a:hover {
    color: rgb(200, 200, 201);
  }

.information {
    border: 0px solid black;
    /* width: 37vw; */
    background-color: #f7f7f7; /* Light gray background */
    padding: 20px; /* Padding for spacing */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 125px;
    margin-right: 50px;
    overflow-y: scroll;
  }
  
  .information ::-webkit-scrollbar {
    width: 0;
  }
  
  .information {
    scrollbar-width: none;
  }
  .information1 {
    border: none;
    width: 100%; /* Adjust width as needed */
    background-color: #f7f7f7; /* Light gray background */
    padding: 20px; /* Padding for spacing */
     /* Center the table */
  }
  
  table {
    width: 100%; /* Full width of the container */
    border-collapse: collapse; /* Collapse borders between cells */
    margin-bottom: 20px; /* Space between the table and other content */
  }
  
  th,
  td {
    border: 1px solid #ddd; /* Border style */
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
  }
  
  th {
    background-color: #f2f2f2; /* Light gray background for header */
    font-weight: bold; /* Bold font for headers */
  }
  
  .heading {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: black;
    font-weight: bolder;
  }

  footer {
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
  }
  

  @media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
      }
    
      .logo {
        padding: 6px 0;
      }
    
      .logo span {
        font-size: 20px;
      }
      .logo img {
        width: 15px;
        filter: invert(1);
      }
    
    
    .information {
        position: static; /* Remove absolute positioning */
        width: 85%; /* Adjust width for full width on smaller screens */
        margin: 20px auto; /* Center and add space around */
    }
    
    
    /* Hide scrollbar for WebKit browsers */
    .information::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    }
    
    /* Optional: Hide scrollbar for Firefox */
    .information {
    scrollbar-width: none;
    }


  }
