@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oxanium", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 50px;
}


.logo img {
  width: 25px;
  margin-right: 8px;
  filter: invert(1);
}

.logo span {
  font-weight: bold;
  font-size: 18px;
}

nav ul {
  margin-top: 3px;
  display: flex;
  list-style-type: none;
  margin-right: 5px;
}

nav ul li {
  padding:  10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #c8c8c9;
}

main {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.information {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.heading{
  font-weight: bolder;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 768px) {

  header {
    padding: 8px 12px;
  }

  nav {
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
    height: 80px; 
  }

  ul {
    padding: 10px 0; 
  }

  nav ul li {
    padding: 8px 10px; 
    text-align: center;
  }
  .logo {
    padding: 6px 0;
  }

  .logo span {
    font-size: 20px;
  }
  .logo img {
    width: 15px;
    filter: invert(1);
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 4px;
  }

  
  .information {
    margin: 10px;
  }
}
